.loader {
    /*свг и/или анимация*/
    position: relative;
    height: 90px;
    width: 90px;
    background: conic-gradient(#FFFFFF00, #512DE4);
    border-radius: 50%;
    animation: 1s rotate infinite linear;
}

.loader:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 72px;
    width: 72px;
    background: #fff;
    border-radius: 50%;
}

.loader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 9px;
    width: 9px;
    background: #512DE4;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
