.item {
    position: relative;

    ::before {
        content: "";
        display: block;
        position: absolute;

        width: 100%;
        height: 1px;
        background-color: #E5E5E5;

        left: 0;
        right: 0;
        bottom: 0;
    }
}

.item:last-of-type {
    ::before {
        display: none;
    }
}

.users {
    margin-top: 18px;
    width: 100%;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    justify-content: right;
    gap: 12px;
}

.container {
    width: calc(100vw / 2);
}

.thead {
    background-color: #E5E5E5;

    td {
        font-weight: 600;
        padding: 10px 16px;
    }
}

.nameCol {
    width: 50%;
    padding: 16px;
    font-family: 'Roboto', 'serif';
    font-weight: 300;
    font-size: 14px;
}

.ageCol {
    padding: 16px;
    font-family: 'Roboto', 'serif';
    font-weight: 500;
    font-size: 14px;
}